.section {
    font: 50px "Microsoft Yahei";
    color: #000000;
}

#menu {
    display: none;
    position: fixed;
    left: 0;
    top: 75px;
    z-index: 10;
    margin: -10px 0 0 0;
    font-size: 18px;
    list-style-type: none;
    left: 0;
    right: 0;
}
#menu1{
    width: 700px;
    margin: 0 auto;
    border-top: 1px;
    /* border-top: 1px solid #a00; */
}
#menu li {
    display: inline-block;
    font: 18px "Microsoft Yahei";
}

#menu a {
    display: inline-block;
    padding: 10px;
    color: #777;
    text-decoration: none;
    
}
#menu a:hover{
    color: #a00
}
#menu .active a {
    color: #a00;
    
}

#pp-nav {
    display: none;
}
.makeContent{
    float: left;
    width: 80%;
    margin: 2% 10% 0 10%;
    font-size: 20px;
    /* border: 1px solid red; */
}
.left{
    float: left;
    width: 50%;
    /* border: 1px solid black; */
    font-size: 20px;
    line-height: 30px;
}
.left p{
    text-indent: 20px;
    padding: 0 0 10px 0;
}
.title{
    padding: 20px 0;
}
.right{
    float: left;
    width: 40%;
    /* border: 1px solid black; */
    font-size: 20px;
    line-height: 30px;
    padding-left: 50px;
}
.makeImg{
    height:500px;
    margin-bottom: 20px;
}
.right .slider3 .slide img{
    height:200px;
}
.bx-wrapper{
    margin: 20px 0 0 0;
}

/* 滑动 */
.bx-wrapper .bx-pager{
    display: none;
}

.makeContent9{
    float: left;
    width: 90%;
    margin: 2% 5% 0 5%;
    font-size: 20px;
    /* border: 1px solid red; */
}
.makeContent9 .left{
    width: 60%;
}
.lunbo{
    float: left;
}
.lunbo .bx-wrapper{
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
} 
.lunbo img{
    height: 200px !important;
}
.left3{
    float: left;
    width: 30%;
    /* border: 1px solid black; */
    font-size: 20px;
    line-height: 30px;
    background-color:#fff;
}
.right7{
    float: right;
    width: 70%;
    /* border: 1px solid black; */
    font-size: 20px;
    line-height: 30px;
    background-color:#fff;
}
.tu img{
    width: 90%;
    height: 200px;
    padding: 0 0 0 5%;
    margin-bottom: 10px;
}
.zi{
    width: 80%;
    height: 200px;
    padding-bottom: 17px;
}
.zi .title{
    padding: 0 0 20px 0;
}
.right5{
    float: right;
    width: 45%;
    /* border: 1px solid black; */
    font-size: 20px;
    line-height: 30px;
}
.makeImg1{
    float: left;
    padding: 10px;
    width: 45%;
}
.slide{
    width: 200px;
}
